@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

html, body {
  /* height: 100%; */
  font-family: 'Noto Sans KR',sans-serif,'NanumGothic', 'serif';
  background-color: #191717;
}

*{
margin:0px;
padding:0px;
}

ul, ol {
    list-style: none;
}

a{
 text-decoration-line: none; 
}

/* 스크롤바 커스텀 */
body::-webkit-scrollbar {
    width: 15px;  /* 스크롤바의 너비 */
    height : 10px;
}

body::-webkit-scrollbar-thumb {
    /* 스크롤바의 길이 */
    /* height: 30%; */

    background: linear-gradient(#83a1dd, #6469c4); /* 스크롤바의 색상 */
    border: 4px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);  /*스크롤바 뒷 배경 색상*/
}

/*기본 너비 설정*/
.all {
    width: auto;
   height : auto;
    margin: 0 auto;
}

header {
    position : fixed;
    top : 0;
    right : 0;
    left : 0;
    z-index: 999;
}

/*헤더*/
.head{
position: relative;
width: auto;
height: auto;
left: 0px;

/* background: #FFFFFF; */
/* border: 1px solid #3482EA; */
color : #fff;
box-sizing: border-box;
z-index : 1;
font-size: 24px;

}

/*스크롤에 따른 헤더 디자인 변경*/
.header_scroll_top {
    padding : 64px 0px;
    background-color: transparent;
    transition-duration : 0.5s;
    transition-timing-function: ease;

    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}

.header_scroll_down {
    padding : 40px 0px 64px 0px;
    background-color: rgba(0, 0, 0, 0.3);

    transition-duration : 0.5s;
    transition-timing-function: ease;

    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}

.header_left {
    position: absolute;
    width : auto;
    left: 3.5%;
    font-size: 24px;
    cursor:pointer;
    font-weight:300;
}

/*로고*/
.logo{
position: absolute;
width: auto;
height: auto;
/* left: 4.3%; */
}

/*드라마 GNB*/
.dramatap{
position: absolute;
width: max-content;
left : 390px; 
/* height: 26px; */

/* font-style: normal; */
/* font-weight:300; */
/* line-height: 26px; */
/* identical to box height */

display: flex;
align-items: center;
/* 
color: #030303; */
}

/*영화 GNB*/
.movietap{
cursor:pointer;
position: absolute;
width: max-content;
left : 290px;

/* font-family: 'Noto Sans KR'; */
font-style: normal;
/* font-weight:300; */
/* font-size: 18px; */
/* line-height: 26px; */
/* identical to box height */

display: flex;
align-items: center;

/* color: #030303; */
}

.admintap{
    cursor:pointer;
    position: absolute;
    width: max-content;
    left : 590px;
}

/*검색 이미지*/
.serch_Img{
    position: absolute;
    width: 24px;
    height: auto;
    /* left: 350px; */
    /* top: 4px; */
    align-items: center;
    margin-top : 3px;
}

.serch{
	/* 검색하기 */
position: absolute;
left: 50%;
/* width : 500px; */
/* top: 37px; */
}

input#searchInput{
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 32px;
/* identical to box height */
margin-left : 34px;
display: flex;
align-items: center;
border: none;
border-radius: 100px;
color: white;
background-color: rgba(0,0,0,0);
outline: none;
padding : 0px 10px;
}

#searchInput::placeholder {
    color: white;
    
}

#searchInput:focus {
    background-color:rgba(255,255,255,.1);
}

/* 로그인 버튼 */
.login_btn{
outline:0;
border:0;

display: flex;
flex-direction: row;
align-items: flex-start;

position: absolute;

height: 30px;
right: 3.5%;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 300;
font-size: 24px;

display: flex;
align-items: center;
text-align: center;

color : white;
background: none;

flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;
}


button:active,
button:hover{
 /* letter-spacing: 2px; */
    /* transform: scale(1.2); */
	/* width:auto; */
}

/* wrapper 푸더 하단 고정 */
#wrap {
    height : auto;
    min-height : 80vh;
    position : relative;
    width : 100%;
    padding-bottom : 100px;
    /* border-bottom : 1px solid #707070; */
  }

footer{
justify-content: center;
display: block;

width: 100%;
height: 300px;
left: 0px;
bottom:0px;

background: #0b0a0a;
}
.footer_text{

    text-align: center;
margin : 0 auto;
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 1.5;
display : block;
/* align-items: center; */
color: #FFFFFF;
}

.footer_logos{
    width : 100%;
     text-align: center;
      margin : 0 auto;
}

.footer_img {
    width : 80px;
    height : 80px;
    border-radius : 100px;
    display : inline-block;
    margin : 30px;
    overflow:hidden;
    text-align:center;
    cursor: pointer;
}

.footer_img img {
    width : 100%;
    height : 100%;
    display : flex;
    object-fit:cover;
    
}
.user_img{
position: absolute;
width: 48px;
height: 48px;
right : 3.5%;
top: -8px;
border-radius:100px;

}
.user_img:hover{
	 cursor:pointer;
     
}
#userDiv{
position:absolute;

z-index:15;

width: 200px;
height: 270px;
margin-top : 60px;
right : 3.5%;
/* margin-left: 1360px; */


background: #191717;
/* border-radius: 5px; */
box-shadow: 0px 3px 14.4px 1.6px rgba(0, 0, 0, 0.92);
}
#userDiv h3{
	margin-top:6px;
    text-align:center;
    display: flex;
    align-items: center;
}
#userDiv ul{
/* margin-left: -39px; */
}
#userDiv li{
 display:block;
 text-decoration:none; 
color : white;
height:45px;


font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

transition-duration : 0.4s;
transition-timing-function: ease;

-webkit-transition-duration:0.4s;
-webkit-transition-timing-function:ease;

}
.userimg{
margin-right:15px;
margin-left:21px;
width: 20px;
height: 20px;
}
.userimg_2{
margin-right:18px;
width: 40px;
height: 40px;
align-items: center;
margin-left:13px;
}

#userDiv li:hover{
	 cursor:pointer;
	 background: #363535;

     transition-duration : 0.1s;
     transition-timing-function: ease;
 
     -webkit-transition-duration:0.1s;
     -webkit-transition-timing-function:ease;
}
