.movietext{
position: absolute;
width: auto;
height: 36px;
left: 360px;
top:50px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 46px;
display: flex;
align-items: center;

color: #030303;
}
.bar{

position: absolute;
width: 1920px;
height: 70px;
left: 0px;
top: 136px;

background: #3482EA;
}
#dok{
	position: absolute;
left: 19%;
right: 77.6%;
top: 34.29%;
bottom: 32.86%;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
#carta{
	position: absolute;

height: 28px;
left: 1300px;
top: 22px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}
#pop{
position: absolute;
left: 74.47%;
right: 22.19%;
top: 34.29%;
bottom: 32.86%;
width:55px;
height: 28px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: white;

}
#ll{

position: absolute;
left: 77.33%;
right: 20.94%;
top: 40%;
bottom: 60%;
color: #FFFFFF;
}
#now{
position: absolute;
left:78.91%;
right: 18.75%;
top: 34.29%;
bottom: 32.86%;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
width:55px;
height: 28px;

color: white;

}
.movies{
position: relative;
margin-left: 360px;
top: 246px;
width:1400px;
/* white-space: nowrap; 
display: flex;  */
}
.movie{
	position: absolute;
width: 180px;
height: 270px;

top: 0px;
z-index:10;
    cursor:pointer;
border-radius: 10px;
	
}

.div_dda{
position: relative;width: 180px;height: 270px;float:left;
}
.movie_all{
    width: 1920px;
	position:relative;
}
.hover_text {
  position: absolute;
  top: 30px;
  margin-left: 25px;
  color: #fff;
  z-index: 20;
  font-weight: 600;
  font-size: 20px;
  text-align:center;
    display:none;
    cursor:pointer;
}
.movies:hover .hover_text{
  display:block;
   cursor:pointer;
}
.movies:hover .all{
 	opacity: 0.5;
	background-color:grey;
}
.movies:hover img.movie{
  transform: scale(1.2);
  transition: 1s;
  cursor:pointer;
filter: blur(3px);
filter: brightness(50%);
}
#myDIV {
    margin-top: 5px;
    padding-top: 30px;
      margin-left: 355px;
    background: rgba(40, 40, 40, 1);
    width: 1250px;
    height: 280px;
z-index: 11;
    opacity: 85%;
    position: relative;
}
#myDIV ul{
  opacity: 1;
  list-style:none;
float:left;
  height: 250px;
  text-align:center;
}
#myDIV li{
	padding-top:17px;
width: 160px;
height: 45px;
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height */
margin-top:-10px;
color: #FFFFFF;	border-radius:10px;
}
#myDIV li:hover{
    font-size: 20px;
background-Color: #E5E5E5;
	cursor:pointer;
	color:#3482EA;
font-weight: 700;
}

.where_logo{
width:50px;
height:50px;
border-radius:10px;
}
.where_logo:hover{
cursor:pointer;
}
.bookmark_yes{
	position: absolute;
margin-left:14px;
z-index:15;
cursor:pointer;
display:none;
    margin-left: 160px;
    margin-top: -27px;    
width: 28px;
    height: 42px;
}
.movies:hover .bookmark_yes{
  display:block;
}
