
.mainserch{
position: relative;
    width: 385px;
    height: auto;
    display: block;
    margin: 90px auto;
	flex-direction: row;
}

.mainserch input.searchInput{
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
/* identical to box height */
    width: 340px;

align-items: center;
border: 0px solid #000;
color: black;

}
.serch_Img2{
position: relative;
    width: 16px;
    height: 16px;
	top:-23px;
	margin-left:400px;
} 

.movie_plus {

height: 26px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
/* identical to box height */


color: #606060;

}
h2.serch_movie{

float:left;
height: 36px;
margin-left: 360px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 35px;
display: flex;
align-items: center;

color: #030303;

}

.serch_tes{
	width: 1560px;
    height: 36px;
	margin-bottom:5px;
}